prefer-no-csd
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    
    // QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
       
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
 
    GTK_IM_MODULE "ibus"
    QT_IM_MODULE "ibus"
    XMODIFIERS "@im=ibus"
}

    cursor {
        // xcursor-theme "capitaine-cursors"
        xcursor-theme "Future-cursors"
        xcursor-size 28
        hide-when-typing
        hide-after-inactive-ms 5000
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
