window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

window-rule {
    match app-id="steam"
    exclude title=r#"^[Ss]team$"#
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
    
window-rule {
    match app-id="win11-clipboard-history-bin"
    open-floating true
    default-column-width { fixed 460; }
    default-window-height { fixed 620; }
}
    

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

